.dice-container {
	display: flex;
}
body{
<<<<<<< HEAD
  background-color: #9d9d9d;
=======
  background-color:#9d9d9d:
>>>>>>> c9fea0f58e7cd01d1da676356718871b5b8971a8
}

.dice {
	width: 80px;
	height: 80px;
	position: relative;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
<<<<<<< HEAD
	background-color: aliceblue;
=======
>>>>>>> c9fea0f58e7cd01d1da676356718871b5b8971a8
}

.dice-dot {
	--top: 0%;
	--left: 0%;

	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 50%;

	position: absolute;
	top: var(--top);
	left: var(--left);
	transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
<<<<<<< HEAD
	margin-top: 10px;
	
}
=======
	margin-top: 15px;
  margin-left: 10px;
}
>>>>>>> c9fea0f58e7cd01d1da676356718871b5b8971a8
